html, body {
	height: 100%;
}
img {
	max-width: 100%;
}

#cover {
	background: #eee url('../img/water.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	text-shadow: 3px 3px 3px black;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	transition: 2s;
}
#cover-background {
	background: rgba(33, 59, 101, 0.2);
	padding: 5% 0;
	transition: 2s;
}
#cover form {
	display: block;
	transition: 2s;
}
#cover input {
	margin: 5px;
	transition: 1s;
} 
#cover button {
	transition: 1s;
}
#cover h1 {
	text-transform: uppercase;
}
#cover p {
	font-size: 1.3rem;
}
#cover a {
	font-size: 2.3rem;
	color: white;
	font-weight: bold;
}
#cover-caption {
	width: 100%;
}
.navbar-brand {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2rem;
	padding: 0;
	color: white;
}
button.navbar-toggler.navbar-toggler-right {
	margin: 5px 0;
}

.carousel-item > img {
	width: 100%;
}
#carousel {
	text-shadow: 3px 3px 3px black;
}

.card-img-top {
	
}
.section-content {
	padding: 4rem 1rem;
}
button.about-us {
	cursor: pointer;
}
.modal-content {
	padding: 4%;
}
.modal-body > p {
	padding: 4% 0 2% 0;
}
#about {
	background: url('../img/about.jpg') center center no-repeat;
	background-size: cover;
	color: white;
}
#about a {
	transition: 1s;
}
#about h5 {
	transition: 1s;
}
.about-text {
	background: rgba(0, 0, 0, 0.2);
	padding: 1.75rem;
}
#movie {
	background: #eee;
}
iframe {
	transition: 1s;
	border: 0 0;
	width: 100%;
	height: 315px;
}
#movie h6 {
	text-transform: uppercase;
	font-size: 0.7rem;
}

#footer-main {
	background: #959595;
	color:#fff;
	font-size: 0.8rem;
	padding: 1rem 0;
}

#footer-main a {
	color: #c6dcef;
}

#arrow-up img{
	width: 2.5rem;
	position: fixed;
	bottom: 30px;
	right: 30px;
}







	
@media only screen and (max-width: 1000px) {
	iframe {margin-bottom: 5%;}
}


/* Smaller tablets(Landscape and Portrait)*/
@media only screen and (min-width: 569px) and (max-width: 767px){
	#cover button {display: block;margin: auto;}
}


/* Smartphones (Landscape and Portrait)*/
@media only screen and (min-width: 371px) and (max-width: 568px){
	#cover button {display: block;margin: auto;}
	
}

@media only screen and (max-width: 575px){
	.card {margin-bottom: 5%;}
}

@media only screen and (max-width: 450px){
	 #cover-background {margin-top: 50px;}
	
	
}
@media only screen and (min-width: 240px) and (max-width: 385px){
	#about a {display: block; margin: 3% 30%;}
	#about h5 {text-align: center;}
}